
.header {
    width: 100%;
    height: 10vh;
    text-align: center;
    color: #fff;
    padding: 10px;
  }
  .search-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  #searchbar {
    margin: auto;
    border-radius: 15px;
    border: none;
    width: 80%;
  
    padding: 10px;
    height: 5vh;
    min-height: 35px;
  }
  #searchbar:focus {
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 80%;
    outline: none;
  }
  
  .links {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1em;
  }
  
  .simpleLink {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  /* .simpleLink:active{
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 15px;
  }
  
  .simpleLink:hover{
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 15px;
  } */
  
  .advancedLink {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  /* .advancedLink:active{
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 15px;
  }
  
  .advancedLink:hover{
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 15px;
  } */
  
  .toggled {
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 15px;
    animation-name: changeColor;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes changeColor {
    from {
      background-color: rgba(0, 0, 0, 0);
    }
    to {
      background-color: rgb(255, 255, 255);
    }
  }
  
  .noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .top-box {
    height: 20vh;
  }
  .weather-container {
    height: 70vh;
    position: relative;
  }
  
  .location-box {
    margin: 15px;
    
  }
  
  .location-box .location {
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    margin-bottom: 5px;
  }
  
  .location-box .date {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  }
  
  .weather-box {
    text-align: center;
  }
  
  .weather-box .temp {
    position: relative;
    display: inline-block;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 15px 25px;
    font-size: 5em;
    color: #fff;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .weather-box .weather {
    color: #fff;
    font-size: 4em;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }
  .weather-box .weatherdesc {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }
  
  .weather-icon{
    height: 5em;
  }
  
  .detail-box{
    width: 80vw;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 15px 25px;
    font-size: 1.2em;
    color: #000;
    font-weight: 500;
   /*  text-shadow: 1px 2px rgba(50, 50, 70, 0.5); */
    text-align: left;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  /* .cloud-box{
    width: 80vw;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 15px 25px;
    font-size: 1.2em;
    color: #000;
    font-weight: 500;
   text-shadow: 1px 2px rgba(50, 50, 70, 0.5); 
    text-align: left;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .temp-box{
    width: 80vw;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 15px 25px;
    font-size: 1.2em;
    color: #000;
    font-weight: 500;
   text-shadow: 1px 2px rgba(50, 50, 70, 0.5); 
    text-align: left;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .weatherdesc-box{
    width: 80vw;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 15px 25px;
    font-size: 1.2em;
    color: #000;
    font-weight: 500;
  text-shadow: 1px 2px rgba(50, 50, 70, 0.5); 
    text-align: left;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .wind-box{
    width: 80vw;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 15px 25px;
    font-size: 1.2em;
    color: #000;
    font-weight: 500;
     text-shadow: 1px 2px rgba(50, 50, 70, 0.5);
    text-align: left;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  } */