.weather-widget-bg {
  height: 100%;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}

.app-name {
  position: absolute;
  top: 0%;
  font-size: 1.5em;
  padding: 20px;
}

.weather-grid {
  position: absolute;
  bottom: 5%;
}

.temp {
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
}

.location {
  text-align: center;
  font-size: 1.2em;
}

.date-time {
  text-align: center;
  font-size: 0.8em;
  font-weight: 200;
}

.weather-icon {
  object-fit: contain;
  margin: 0 auto;
}

.main-weather-desc {
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}

.sub-weather-desc {
  text-align: center;
  font-size: 0.9em;
  font-weight: 200;
}

.menu-btn-wrap {
  position: absolute !important;
  top: 2% !important;
  right: 0% !important;
  font-size: 1.5em !important;
  padding: 20px !important;
  display: none !important;
}

.menu-btn {
  color: aliceblue;
}

@media only screen and (max-width: 599px) {
  .menu-btn-wrap {
    display: block !important;
  }
}
