@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(10, 8, 7);
  background: -moz-linear-gradient(
    23deg,
    rgba(10, 8, 7, 1) 0%,
    rgba(143, 48, 0, 1) 32%,
    rgba(36, 91, 119, 1) 58%,
    rgba(25, 75, 98, 1) 80%,
    rgba(35, 124, 159, 1) 100%
  );
  background: -webkit-linear-gradient(
    23deg,
    rgba(10, 8, 7, 1) 0%,
    rgba(143, 48, 0, 1) 32%,
    rgba(36, 91, 119, 1) 58%,
    rgba(25, 75, 98, 1) 80%,
    rgba(35, 124, 159, 1) 100%
  );
  background: linear-gradient(
    23deg,
    rgba(10, 8, 7, 1) 0%,
    rgba(143, 48, 0, 1) 32%,
    rgba(36, 91, 119, 1) 58%,
    rgba(25, 75, 98, 1) 80%,
    rgba(35, 124, 159, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a0807",endColorstr="#237c9f",GradientType=1);
}

.App {
  height: 100vh;
  width: 100vw;
  min-height: 450px;
  min-width: 320px;
  overflow: hidden;
  padding: 50px;
  color: #fff;
  backdrop-filter: blur(100px);
}

.main-card {
  height: 100%;
  width: 100%;
  border-radius: 20px;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.cloudy {
  background-image: url(../src//assets/clouds.jpg);
}

.rain {
  background-image: url(../src//assets/rain.jpg);
}

.clear {
  background-image: url(../src/assets/clear.jpg);
}

.weather-display {
  height: calc(100vh - 100px);
  width: 100%;
}

.city-display {
  height: calc(100vh - 100px);
  width: 100%;
}

.loader {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.city-display-mobile {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

@media only screen and (max-width: 599px) {
  html {
    font-size: 18px;
  }
  .App {
    padding: 0;
  }
  .main-card {
    border-radius: 0;
  }
  .city-display {
    display: none;
  }
  .city-display-mobile {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  html {
    font-size: 22px;
  }
}
