* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  min-height: 400px;
  min-width: 320px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.App__Wrapper {
  height: 100%;
  width: 100%;
}

.App__Top__Container {
  height: 50%;
  width: 100%;

  padding: 10px;
  position: relative;

  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
}

.App__Bottom__Container {
  height: 50%;
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 10px;
  position: relative;
}

/* This code was copied from codepen */

.editorial {
  display: block;
  width: 100%;
  height: 5vh;
  max-height: 5vh;
  margin: 0;
  z-index: 5;
  float: left;
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

/* End of copied code */

.App__Top__Container__Location {
  color: #fff;
  text-align: center;
  padding: 15px;
  font-weight: 700;
}

.App__Top__Container__WeatherBox__Image {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App__Top__Container__Wave {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}

.App__Bottom__Container__Box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.App__Bottom__Container__Temp {
  padding: 10px;
  text-align: center;
  font-size: 3rem;
  color: rgb(63, 61, 61);
  font-weight: 800;
}

.App__Bottom__Container__Weather {
  text-align: center;
  font-size: 1rem;
  color: rgb(119, 113, 113);
  font-weight: 800;
}

.App__Bottom__Container__WeatherDesc {
  text-align: center;
  font-size: 0.9rem;
  color: rgb(88, 80, 80);
  font-weight: 500;
}

.App__Detail__Page {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  top: 20%;
  right: 0%;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  z-index: 1;
  transition: all 0.3s ease-in-out;
  border: 2px solid #fff;
  padding: 10px;
  color: #fff;
}

.Expand {
  top: 0%;
  right: 0%;
  height: 100vh;
  width: 100vw;
  border-radius: 0%;
  background: rgb(31, 31, 31);
  transition: all 0.3s ease-in-out;
  border: none;
}

.App__Detail__Page__Box {
  line-height: 1.4rem;
  padding: 10px;
}
